:root {
    --website-bkg-clr-achieve:#D0E5E7;
    --website-bkg-clr:#E3EFF0;
    --clr-primary:#68162C;
    --clr-secondary:#0E186D;
    --clr-Body-Text:#000000;
    --clr-text-in-the-Box-1:#979797;
    --clr-text-in-the-Box-2:#FFFFFF;
    --clr-text-in-the-Box-3:#0E186D;
    --clr-text-Box:#F7F9FB;
    --clr-block:#F2F3F7;
    --clr-primary-button:#68162C;
    --clr-footer-menu-button:#F7F9FB;
    --clr-hover-btn:#979797;
    --clr-hover-btn-text:#000000;

    /* explore our project section color*/
    --clr-active:#68162C;
    --opacity-clr:100%;
    /* no active */
    --clr-no-active:#68162C;
    --opacity-clr:60%;
    /* ------ */

    /* item's information color */
    --clr-active-text:#0E186D;
    --opacity-text-clr:100%;
    --opacity-img:100%;
    /* no active */
    --clr-no-active-text:#0E186D;
    --opacity-text-clr:60%;
    --opacity-img:60%;
    /*------ */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-ultra-bold: 800;
  
    --fs-001: 0.625rem; /*10px */
    --fs-002: 0.75rem;
    --fs-003: 0.875rem;/*14px */
    --fs-004: 1rem;/*16px*/
    --fs-005: 1.125rem;/*18px*/
    --fs-006: 1.25rem;/*20px*/
    --fs-007: 1.875rem; /* 30px*/
    --fs-008: 1.625rem;
    --fs-009: 1.75rem;
    --fs-010: 2.5rem;/*40px*/
    --fs-011: 2.25rem;
    --fs-012: 2.875rem;
    --fs-013: 3rem;
    --fs-014: 3.125rem;/*50px*/
    --fs-015: 3.5rem;
  
    --lh-001: 0.875rem; 
    --lh-002: 0.938rem;
    --lh-003: 1rem; /*16px*/
    --lh-004: 1.125rem; 
    --lh-005: 1.25rem;  
    --lh-000: 1.313rem; /*21px*/
    --lh-006: 1.438rem;
    --lh-007: 1.563rem;
    --lh-008: 1.875rem;
    --lh-009: 2.063rem;
    --lh-010: 2.188rem;
    --lh-011: 2.5rem; 
    --lh-012: 2.813rem;
    --lh-013: 3.125rem; 
    --lh-014: 3.75rem;
    --lh-015: 3.938rem;
    --lh-016: 4rem;
    
    --ff-primary:'SF PRO DISPLAY';
    --ff-header:'Monument Extented';
  }
 /* ======= reset style ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: var(--ff-primary);
  background-color: var(--website-bkg-clr);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* ======= utility ===== */

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.text-body {
  color: var(--clr-Body-Text);
}

.text-box-1 {
  color: var(--clr-text-in-the-Box-1);
}

.text-box-2 {
  color: var(--clr-text-in-the-Box-2);
}

.text-box-3 {
  color: var(--clr-text-in-the-Box-3);
}

.text-box {
  color: var(--clr-text-Box);
}
 /* header for each section */
 .header-for-all{
  font-size: 40px;
  color: var(--clr-primary);
  display: flex;
  font-family: var(--ff-header);
  margin-bottom: 3rem;
}
/* #### */

 /* each btn style for slider */
.btn-for-slider{
  border: none;
  outline: none;
  font-size: 3rem;
  background: none;
  cursor: pointer;
  transition: all .4s ease-in-out;
 }
 .btn-for-slider:hover{
 color:#979797 ;
 }
 /* #### */

 /* item information center */
#item-information{
  margin-top: 7rem;
  margin-left: 3rem;
}
#item-information .information-container h1{
  color: #68162C;
  letter-spacing: 2px;
  font-size: 40px;
  font-family: var(--ff-header);
  margin-left: 8rem;
}
#item-information .information-container .information-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
#item-information .information-container .information-center .information-items .widget{
  border-radius: 20px;
}
#item-information .information-container .information-center .information-items .item-widget{
  width: 12rem;
  height: 11rem;
  background-color: #F7F9FB;
  margin-bottom: 1.5rem;
  border-top-left-radius: 8rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .5s ease;
}

#item-information .information-container .information-center .information-items .info-2,
#item-information .information-container .information-center .information-items .info-3{
   opacity: 0.5;
}
#item-information .information-container .information-center .information-paragraph{
  width: 47rem;
  height: 37rem;
 background-color: #fff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-top-right-radius: 20rem;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 margin-left: 3rem;
 
}
#item-information .information-container .information-center .information-paragraph h5{
  font-family: var(--ff-header);
  color: #68162C;
  font-weight: 600;
  margin-left:7.5rem;
}  
#item-information .information-container .information-center .information-paragraph .informations{
 display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
#item-information .information-container .information-center .information-paragraph .item-icon i{
  color: #68162C;
  font-size: 27px;
  display: flex;
  justify-content: end;
  margin-right: 5rem;
  cursor: pointer;
}
#item-information .information-container .information-center .information-paragraph .informations p{
  margin-left: 10px;
  width: 30rem;
  
}
#item-information .information-container .information-center .information-paragraph .informations .icon i{
  color: #68162C;

}
#item-information .information-container .information-center .information-items .item-widget img{
  width: 12rem;
  height: 9rem;
}
#item-information .information-container .information-center .information-items .item-widget .widget-text{
  display: flex;
  justify-content: center;
  color: var(--clr-text-in-the-Box-3);
  font-weight: 900;

  user-select: none;
}
/* ####### */

#project{
  margin-top: 7rem;
}
#project .projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project  h1{
  margin-left: 11rem;
  font-size:2.5rem;
  color: #68162C;
 
  font-family: var(--ff-header);
  
}
#project .projects-container .projects-items{
  display: flex;
  gap: 1rem;
}
#project .projects-container .projects-items .item-1{
  border-top-left-radius: 5rem;
  border-top-right-radius: .8rem;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
}
#project .projects-container .projects-items .item-2,
#project .projects-container .projects-items .item-3,
#project .projects-container .projects-items .item-4{
  border-radius:.8rem ;
}
#project .projects-container .projects-items .item-5{
  border-top-left-radius: .8rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
}
#project .projects-container .projects-items .item{
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 9rem;
  background-color: #F7F9FB;
  text-align: center;
  align-items: center;
  transition: all .5s ease;
  margin: 10px;
  justify-content: center;
  box-shadow: 3px 4px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 4px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 12px -1px rgba(0,0,0,0.75);
  cursor: pointer;

}
#project .projects-container .projects-items .item:hover{
 color: #979797;
 opacity: 60%;
 
}
#project .projects-container .projects-items .item p{
  font-size: 18px;
  font-weight: 900;
  color: #68162C;
  line-height: 1rem;
}

#project .projects-container .projects-items .item span{
  font-size: 18px;
  font-weight: 900;
  color: #68162C;
}
#project .projects-container .project-items-slider {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 54.188rem;
  height: 25.188rem;
  background-color:#F7F9FB ;
  justify-content: center;
  gap: 1rem;
  border-bottom-left-radius:  5rem;
  border-bottom-right-radius: 5rem;
}
#project .projects-container .project-items-slider .btn button{
 border: none;
 outline: none;
 font-size: 2rem;
 background: none;
 cursor: pointer;
 transition: all .4s ease-in-out;
}
#project .projects-container .project-items-slider .btn button:hover{
color:#979797 ;
}
#project .projects-container .project-items-slider .project-slider {
  display: flex;
  align-items: center;
}
#project .projects-container .project-items-slider .project-slider .project-slider-text {
  margin-left: 2rem;
  
}
#project .projects-container .project-items-slider .project-slider .project-slider-text span{
  font-size: 3rem;
  color: #68162C;
}
#project .projects-container .project-items-slider .project-slider .project-slider-text p{
  width: 25rem;
  
}
#project .projects-container .project-items-slider .project-slider img{
  height: 20rem;
}
.swiper {
  margin-top: 2rem;
  width: 59rem;
  height: 30rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center; */
  -webkit-justify-content: center;
  justify-content: center;
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
.swiper-slide .swiper-slide-item{
  display: flex;
 justify-content: center;
 align-items: center;
}
.swiper-slide .swiper-slide-item .swiper-text h1{
  color: #68162C;
  letter-spacing: 2px;
  font-size: 40px;
}
.swiper-slide .swiper-slide-item .swiper-text p{
  width: 28rem;
  margin-left: 20px;
}
.swiper-slide img {
   height: 23rem;
}
.swiper-next-pj,
.swiper-prev-pj{
  color: #000000; 
  transition: all .5s ease;
}
.swiper-next-pj:hover,
.swiper-prev-pj:hover{
  color: #979797;
}
#client {
   max-width: 100rem;
}
#client .client-parent-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 7rem;
   width: 60vw;
  margin-left: 16rem;
  justify-content: center;
  
}
#client .client-parent-container .client-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  width: 70vw;
  height: 60vh;
  max-width: 80rem;
}
#client .client-parent-container .client-slider .client-slider-items{
  display: flex;
  align-items: center;
  position: relative;
overflow: hidden;
}
#client .client-parent-container .client-slider .client-slider-items .slide{
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all .5s ease;
  

}

#client .client-parent-container .client-slider .client-slider-items img{
   height: 27rem;
   margin-right: 3rem;
}
#client .client-parent-container .client-slider .client-slider-items p{
  letter-spacing: 2px;
  width: 50rem;
 
}
#client .client-parent-container .client-slider .client-slider-items p i{
  font-size: 1rem;
  color:var(--clr-secondary) ;
}
#service .service-parent-container {
   /* align-items: center; */
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}
#service .service-parent-container .installation-2-for-mobile{
  display: none;
}
#service .service-parent-container h1{
  margin-left: 15rem;
}
#service .service-parent-container .intallation-1 .installation-items{
  display: flex;
  justify-content: center;
  align-items:center ;
}

.img-serivice{
  height: 22rem;
  margin-right: 3rem;
}
#service .service-parent-container .intallation-1 .installation-items p{
  width: 28rem;
 
}
.header-services{
  color: var(--clr-active);
  font-family: var(--ff-header);
  letter-spacing: 2px;
}
#service .service-parent-container .installation-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 10rem;
}
#service .service-parent-container .installation-2 .installation-item2{
  display: flex;
  align-items: center;
}
#service .service-parent-container .installation-2 .installation-item2  img{
  margin-left: 3rem;
}
#service .service-parent-container .installation-2 .installation-item2 .installation-items-text2 p{
  width: 28rem;
}
#service .service-parent-container .installation-2 .installation-item2 .installation-items-text2 h5{
  color: var(--clr-active-text);
  font-family: var(--ff-header);
  letter-spacing: 2px;
}
#contact .contact-parent-container{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact-parent-container .contact-text{
    max-width: 29rem;
    padding-right: 1rem;
}
#contact .contact-parent-container .contact-text span{
  font-weight: 600;
  letter-spacing: 1px;
}
#contact .contact-parent-container .contact-text .contact-box{
  display: flex;
  margin-top: 1.6rem;
  align-items: center;
}
#contact .contact-parent-container .contact-text .contact-box .contact-text h3{
  color: var(--clr-active-text);
}
#contact .contact-parent-container .contact-text .contact-box .contact-icon i{
   color: var(--clr-active-text);
   font-size: 1.7rem;
   padding-right: 1.7rem;
}
#contact .contact-parent-container .contact-form .form{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  margin-top: 8rem;
}

#contact .contact-parent-container .contact-form .form input{
  padding: 15px 20px ;
  margin-top: 10px;
  width: 35rem;
  border: none;
  border-radius: 10px;
  
}
#contact .contact-parent-container .contact-form .form textarea{
  margin-top: 10px;
  padding: 15px 10px ;
  width: 35rem;
  border: none;
  border-radius: 10px;
}
#contact .contact-parent-container .contact-form .form button{
  margin-top: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--clr-active);
  color: #fff;
  border-radius: 19px;
  align-self: flex-end;
}
#contact .map{
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
#contact .map iframe{
  border-radius: 10px;
  box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
}
footer .footer-parent-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center  ;
  width: 55rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  margin-left: 12rem;
  margin-top: 7rem;
}
footer .footer-parent-container p{
  
   width: 40rem;
}

footer .footer-parent-container .footer-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-parent-container .footer-btn button {
   cursor: pointer;
   padding: 4px;
   border: none;
   border-radius: .7rem;
   background-color: var(--clr-footer-menu-button);
   transition: all .5s ease;
   margin-left: 1.7rem;
   margin-bottom: 2rem;
}

footer .footer-parent-container .footer-btn button a{
  text-decoration: none;
  transition: all .5s ease;
  padding: 2px 5px;
}
footer .footer-parent-container .footer-btn button a:hover{
  color: #000000;
}
footer .footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}
footer .footer-logo .logo-footer{
  display: flex; 
  gap: 9px;
}
footer .footer-logo .logo-footer img{
  height: 3rem;
}
footer .footer-logo .logo-footer h5{
  font-weight: 600;
  letter-spacing: 1px;
  /* margin-top: 10px; */
  font-family: var(--ff-header);
  color: var(--clr-primary);
}
footer .footer-logo .logo-footer span{
  font-weight: 900;
  /* font-size: 20px; */
  color: #0E186D;
  font-family: 'SF Pro Display-i';
   margin-bottom: 20px;
}
footer .footer-logo .social-media-footer i{
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}
footer .footer-logo .copyright{
  color: var(--clr-active-text);
}
footer .footer-parent-container .social-media-2{
  display: none;
}
@media only screen and (max-width: 36em){
  /* #item-information .information-container .information-center .information-paragraph .informations p{
    margin-left: 10px;
    width: 20rem;
   
    
  } */
  #item-information .information-container .information-center .information-paragraph{
    width: 28rem;
    height: 30rem;
    margin-top: 30px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin-left: -3rem;
   
  }
  #item-information .information-container .information-center .information-items{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-right: 2rem;
  }
  #item-information .information-container .information-center .information-items .item-widget{
    width: 9rem;
    height: 12rem;
    background-color: #F7F9FB;
    margin-bottom: 1.5rem;
    border-top-left-radius: 16rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all .5s ease;
    margin-left:0;
  }
  #item-information .information-container h1{
    color: #68162C;
    /* letter-spacing: 2px; */
    font-size: 38px;
    font-family: var(--ff-header);
    margin: 0;
  }
  #item-information .information-container .information-center{
    display: flex;
    flex-direction: column;
  }
  #project{
    display: none;
  }

  .swiper {
    margin-top: 2rem;
    width: 30rem;
    height: 40rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  .swiper-slide .swiper-slide-item{
    display: flex;
    flex-direction: column;
   
  }
  #client .client-parent-container{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    width: 60vw;
   margin-left: 16rem;
   justify-content: center; */
   display: none;
   
 }
 #service .service-parent-container h1{
  font-size: 3rem;
  margin-left: 1rem;
}
 #service .service-parent-container .intallation-1 .installation-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
}
#service .service-parent-container .intallation-1 .installation-items h5{
  width: 2rem;
  font-size: 2rem;
}
#service .service-parent-container .installation-2{
  display: none;
}
#service .service-parent-container .installation-2 .installation-item2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .img-serivice{
  height: 10rem;
  margin-right: 3rem;
} */
#service .service-parent-container .intallation-1 .installation-items p{
  margin-top: 2rem;
  width: 23rem;
   
}
#service .service-parent-container .intallation-1 .installation-items img{
  height: 20rem;
  margin-left: 5rem;
  margin-bottom: 20px;
}
#service .service-parent-container .installation-2-for-mobile{
  display: block;
}
#service .service-parent-container .installation-2-for-mobile .installation-item2-mobile h5{
  color: var(--clr-active-text);
  font-family: var(--ff-header);
  width: 2rem;
  font-size: 2rem;

}
#service .service-parent-container .installation-2-for-mobile .installation-item2-mobile p{
  width: 18rem;
  margin-left: -3rem;
}
#service .service-parent-container .installation-2-for-mobile .installation-item2-mobile .installation-items-text2{
  margin-left: 6rem;
}
#service .service-parent-container .installation-2-for-mobile img{
  height: 20rem;
  margin-left: 3rem;
  margin-bottom: 20px;
}
  #contact .contact-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact .contact-parent-container .contact-text h1{
    font-size: 2rem;
  }
  #contact .contact-parent-container .contact-form .form{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    margin-top: 1rem;
  }
  #contact .contact-parent-container .contact-form .form input{
    /* padding: 10px 10px ; */
    /* margin-top: 10px; */
    width: 20rem;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin-left: .1rem;
  }
  #contact .contact-parent-container .contact-form .form textarea{
    /* margin-top: 10px; */
    padding: 15px 10px ;
    width: 20rem;
    border: none;
    border-radius: 10px;
    margin-left: .1rem;
  }
  #contact .contact-parent-container .contact-text{
    margin-left: 2rem;
  }
  #contact .map{
  width: 20rem;
  margin-left: 30px;

  }
  #contact .map iframe{
    border-radius: 10px;
    box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.75);
  }
  /* #contact .contact-parent-container .contact-text .contact-box{
    display: flex;
    margin-top: 1.6rem;
    align-items: center;
    margin-left: 2rem;
  }
  #contact .contact-parent-container .contact-text span{
    font-weight: 600;
    /* letter-spacing: 1px; */
    footer{
      width: 100%;
    }
    footer .footer-parent-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center  ;
      width: 25rem;
      /* border-bottom: 1px solid rgba(0, 0, 0, 0.212); */
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      margin-left: 2rem;
     
    }
    footer .footer-parent-container p{
      
       width: 23rem;
    }
    footer .footer-logo .social-media-footer {
      font-size: 22px;
      margin-left: 10px;
      cursor: pointer;
     display: none;
    }
    footer .footer-parent-container .social-media-2{
      display: flex;
      gap: 1rem;
      margin-bottom: 20px;
    }
    footer .footer-parent-container .social-media-2 i{
      font-size:2rem;
    }
    footer .footer-logo .logo-footer{
      display: flex; 
      align-items: center;
      /* gap: 9px; */
    }
    footer .footer-logo .logo-footer img{
      height: 2rem;
    }
    footer .footer-logo .logo-footer h5{
      font-weight: 700;
      font-size: 18px;
      /* letter-spacing: 1px; */
      /* margin-top: 10px; */
      font-family: var(--ff-header);
      color: var(--clr-primary);
    }
    footer .footer-logo .logo-footer span{
      font-weight: 900;
      /* font-size: 20px; */
      color: #0E186D;
      font-family: 'SF Pro Display-i';
       /* margin-bottom: 20px; */
    }
    footer .footer-logo .copyright{
      color: var(--clr-active-text);
      font-size: 12px;
    }
  }

 
